[Unit]
Description=Vault-OS MQTT Publisher (DHT11 + psutil)
After=network.target mosquitto.service
Wants=mosquitto.service

[Service]
User=admin
Group=gpio
Type=simple
WorkingDirectory=/home/pi/vault_os
ExecStart=/home/pi/vault_os/venv/bin/python3 /home/pi/vault_os/publisher.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
